.design-checkbox {
  margin-bottom: 20px;
}

.design-checkbox:last-of-type {
  margin-bottom: 0;
}

.design .title {
  margin-top: 0;
  padding-top: 0;
}

.design-checkbox a {
  color: rgba(22, 21, 28, 0.73);
  text-decoration: none;
  margin-right: 5px;
  margin-left: 5px;
  float: right;
}

.design-checkbox a:first-of-type {
  margin-left: 0;
}
